#EXAMPLES OF SECRETS AND VARIABLES

#AWS/ECR/EC2 variables

AWS_REGION=
AWS_ACCOUNT_ID=
ECR_REPOSITORY_NAME=

EC2_HOST_PUBLIC_ip=
EC2_USER=
EC2_PROJECT_PATH=

#PUBLIC APPLICATION VARIABLES


NEXTAUTH_URL=
NEXT_PUBLIC_SITE_URL=
ADMIN_EMAIL=
ADMIN_AUTH_BYPASS=
EMAIL_FROM=
S3_BUCKET_NAME=
CLOUDFRONT_DOMAIN=



##GITHUB SECRETS

#AWS SECRETS

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# EC2 SSH secret

EC2_SSH_KEY=

#App secrets

DATABASE_URL=
NEXTAUTH_SECRET=
EMAIL_SERVER=




